body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.page{
    position: relative;
    width: 85.5vw;
    height: 100%;
    left: 0;
    top: 0;
  
}
#right-side {
    border: 2px solid black;
    float: right;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 100vh;
    z-index: 1;
    background: linear-gradient(56deg,rgb(1, 3, 234),rgb(101, 105, 199));
}


#header{
    width: 150px;
    height: 30px;
    border: 1px solid black;
    color: black;
    background-color: rgb(191, 255, 174);
    margin: 20px;
}

#paragraph{
    width: 150px;
    height: 30px;
    border: 1px solid black;
    color: black;
    background-color: rgb(191, 255, 174);
    margin: 20px;
}



#button-add{
    cursor: pointer;
    width: 50px;
    height: 25px;
    padding: 5px;
    margin: 0;
    position: relative;
    left: 70px;
}

#button-text{
    cursor: pointer;
    width: 50px;
    height: 25px;
    padding: 5px;
    margin: 0;
    position: relative;
    left: 70px;
}


::placeholder {
    font-style: italic;
    font-weight: bolder;
    color: black;
    opacity: 0.6;
    text-align: center;
  }
  

  #background-color{
    cursor: pointer;
  }

  
.button-conteiner{
    margin-top: 9rem;
    display: flex;
    flex-direction: column;
    font-size: 23px;
}


