.button {
    background-color:rgb(118, 118, 255);
    width: 130px;
    height: 60px;
    display: block;
    margin: 30px;
    border-radius: 10px;
    font-size: xx-large;
    box-shadow: 3px 4px darkslategrey;
}

.div{
    position: relative;
    top: 50px;
    left: 40rem;
}

.paragraph{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bolder;
}

