#text{
    font-size: 20px;
    margin: 0;
    color: black;
    position: absolute;
    top: 5rem;
    letter-spacing: 5px;
}

#text:hover{
    width: 200px;
    height: 40px;
    font-size: 22px;
    color: white;
}

